.wrapper{
	width: 60%;
	margin: 0 auto;
	border: 5px solid #ddd;
	
}
.first_name , .last_name , .email , .password
{
	width: 90%;
	height: 25px;
	padding: 10px;
	font-size: 18px;
	background-color: red;
	color: white;
}
label{
	font-size: 20px;
}
.message{
	font-size: 18px;
	padding: 20px;
}

table{
	width: 100%;
	border: 1px solid black;
	align-items: center;
	text-align: center;
}
tr, td{
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
	background-color: yellow;
	color: red;
}
caption{
font-size: 20px;
	text-align: center;
	border: 1px solid black;
	
	
}

td:hover{
	background-color: #ddd;
}



.container{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 20%;
	background-color: yellow;
	float: left;
	margin-right: 10px;
	padding: 10px;
}
.nav{
	width: 75%;
	background-color: red;
	float: left;
	padding: 10px;
}

.blog{
	width: 60%;
	min-height: 300px;
	background-color: green;
	float: left;
}
.contact{
	width: 35%;
	min-height: 300px;
	background-color: blue;
	margin-left: 50px;
	float: left;
}
.footer{
	width: 1000px;
	min-height: 200px;
	background-color: #ddd;
	margin: 0 auto;
	color: red;
}